.App {
  text-align: center;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

form {
  margin: 20px 0;
}

input {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px;
}

div {
  margin: 20px 0;
}
body {
  background-image: url('images/Travel.jpg');
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  background-size: 500px 500px;
  background-attachment: fixed;
}
@media (max-width: 768px) {
  form {
      flex-direction: column;
  }
  
  input, button {
      width: 100%;
      margin: 10px 0;
  }
}
